
body{
    position:relative;
}
p{
    margin:0;
    padding:0;
}
header{
    position:absolute;
    top:0;
    width:100%;
}
.container-fluid{
    height:100vh;
}
.top{
    

    background-image:url("../img/top.webp");
    background-size:cover;
    
  
    
}
a{
    text-decoration:none;
    color:white;
}
footer{
    position:absolute;
    bottom:0;
    width:100%;
    
}